<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>indexPage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <header>
        <h1>Hello Spring IndexPage</h1>
    </header>
    <hr>
    <nav>
        <ol>
        <h3>회원기능</h3>
        <li><a href="/members/new">회원가입</a></li>
        <li><a href="/members">회원목록</a></li>
        </ol>
    </nav>
    <article>
        <br><br><h3>회원관리기초</h3>
         <p>- MVC를 이용한 예제</p>
        <hr>
    </article>

</body>
</html>